/**************************************/
/* STYLES MADE BY POLYPUS CREATOR APP */
/**************************************/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.font-arial {
    font-family: arial;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.font-squada {
    font-family: 'Squada One', cursive;
}

.font-source {
    font-family: 'Source Serif Pro', serif;
}

.font-yantramanav {
    font-family: 'Yantramanav', sans-serif;
}

.font-abel {
    font-family: 'Abel', sans-serif;
}

.font-francois {
    font-family: 'Francois One', sans-serif;
}

body {
    overflow-x: hidden;
}


/**************************************/
/* DESKTOP							  */
/**************************************/

#light-theme-body {

}

#dark-theme-body {
    background-color: #1d1b24;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #secondary 14%, #secondary 85%);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #secondary 14%, #secondary 64%);
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}


/* NAV BAR */

#light-theme-navbar {
    background-color: #primary;
    width: 100%;
}

#light-theme-brand {
    color: black;
    margin-left: 5%;
    margin-right: 45%;
}

#light-theme-navitem a {
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}

#dark-theme-navbar {
    background-color: #primary;
    width: 100%;
}

#dark-theme-brand {
    color: white;
    margin-left: 5%;
    margin-right: 45%;
}

#dark-theme-navitem a {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

/* CALL TO ACTION */

#light-theme-callToAction {
    width: 100%;
    color: black;
    border-radius: 0;
    background-image: none;
    margin-bottom: 0px;
    background-color: #EEF0F0;
}

#dark-theme-callToAction {
    background-color: #111014;
    width: 100%;
    color: white;
    border-radius: 0;
    background-image: none;
    margin-bottom: 0px;
}

#light-theme-button {
    background-color: #primary;
    color: black;
    border: none;
}

#light-theme-button:hover {
    background-color: #secondary;
    color: #primary;
}

#dark-theme-button {
    background-color: #primary;
    color: white;
}

#dark-theme-button:hover {
    background-color: #secondary;
    color: #primary;
}

/* IMAGE AND TEXT */

#light-theme-imageAndTextLeft {
    margin-top: 4%;
    margin-bottom: 4%;
}

#light-theme-imageAndTextLeft img {
    height: 345px;

}

#light-theme-imageAndTextLeft-text {
    padding-top: 1%;
}

#light-theme-imageAndTextRight {
    margin-top: 4%;
    margin-bottom: 4%;
}

#light-theme-imageAndTextRight img {
    height: 345px;
}

#light-theme-imageAndTextRight-text {
    padding-top: 1%;
    text-align: right;
}

#dark-theme-imageAndTextLeft {
    margin-top: 2%;
    margin-bottom: 2%;
}

#dark-theme-imageAndTextLeft img {
    height: 345px;
}

#dark-theme-imageAndTextLeft-text {
    padding-top: 1%;
    color: white;
}

#dark-theme-imageAndTextRight {
    margin-top: 2%;
    margin-bottom: 2%;
}

#dark-theme-imageAndTextRight img {
    height: 345px;
}

#dark-theme-imageAndTextRight-text {
    padding-top: 1%;
    text-align: right;
    color: white;
}


/* IMAGES */

#light-theme-image {
    display: block;
    text-align: center;
    margin: 3%;
}

#light-theme-image img {
    min-height: 450px;
    max-height: 750px;
}

#light-theme-2images {
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
}

#light-theme-2images img {
    min-height: 150px;
    max-height: 350px;
}

#light-theme-3images {
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

#light-theme-3images img {
    min-height: 50px;
    max-height: 200px;
}

#dark-theme-image {
    display: block;
    text-align: center;
    margin: 3%;
}

#dark-theme-image img {
    min-height: 450px;
    max-height: 750px;
}

#dark-theme-2images {
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
}

#dark-theme-2images img {
    min-height: 150px;
    max-height: 350px;
}

#dark-theme-3images {
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

#dark-theme-3images img {
    min-height: 50px;
    max-height: 200px;
}


/* TITLE */

#light-theme-title {
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;

}

#dark-theme-title {
    background-color: transparent;
    margin-bottom: 20px;
    color: white;
    padding: 0px;
}


/* PRICE CARDS */

.theme-price-cards {
    text-align: center;
    margin-left: 13%;
    margin-right: 5%;
    margin-bottom: 4%;
}

#card-header-one {
    font-weight: bold;
    background-color: #E5E5E5;
}

#card-header-two {
    background-color: #primary;
    color: white;
    font-weight: bold;
}

#card-header-three {
    background-color: #prim2;
    color: white;
    font-weight: bold;
}


#card-info {
    font-size: 15px;
}


/* TRIPLE INFO */

.light-theme-tripleInfo {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 2%;
    text-align: center;
    margin-left: -4%;
}

#light-theme-left-element-tripleInfo {
    border-right: 1px solid black;
}

#light-theme-right-element-tripleInfo {
    border-left: 1px solid black;
}

.dark-theme-tripleInfo {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 2%;
    text-align: center;
    color: white;
}

#dark-theme-left-element-tripleInfo {
    border-right: 1px solid white;
}

#dark-theme-right-element-tripleInfo {
    border-left: 1px solid white;
}

/* SIMPLE CARD */

#theme-simple_card {
    text-align: center;
    display: block;
    background-color: transparent;
    margin: 0 auto;
    margin-left: 22%;
}

#theme-simple_card #box {
    background-color: #AAAAAA;
    padding: 5%;
    max-width: 850px;
    color: white;
}

/* GLOBAL CLASS */

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.separator {
    height: 10px;
    background-color: #primary;
}

.container {
    width: 100%;
}

/* FOOTER */

#light-theme-footerCopy {
    height: 50px;
    margin-bottom: 0px;
    background-color: #secondary;
}

#dark-theme-footerCopy {
    height: 50px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
}

#light-theme-text {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: -25px;
    padding: 6%;
    padding-top: 0px;
}

#light-theme-text p {
    font-size: 18px;
}

#dark-theme-text {
    background-color: #1d1b24;
    margin-top: -50px;
    margin-bottom: -25px;
    padding: 6%;
    padding-top: 30px;
}

#dark-theme-text p {
    font-size: 18px;
    color: white;
}

#light-theme-footerComplex {
    height: auto;
    margin-bottom: 0px;
}

#dark-theme-footerComplex {
    height: auto;
    margin-bottom: 0px;
    color: white;
    background-color: #secondary;
}

.footerIcon {
    display: inline-block;
    border: 1px solid white;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    color: white;
    margin-right: 45px;
}

.footerIcon a {
    text-decoration: none;
    color: white;
}


.footerIcon i {
    position: relative;
    top: 16px;
    left: -15px;
    font-size: 20px;
}

#socialMediaTitle {
    font-weight: bold;
    margin-right: 45px;
    margin-bottom: 15px;
}

#socialMedia {
    text-align: right;
    margin-right: 40px;
}

/* MAP */

.map {
    width: 600px;
    height: 500px;
    margin-left: 10%;
    margin-bottom: 15px;
}

.light-theme-contactUs {
    padding: 5px;
    font-size: 20px;
    margin-left: 4%;
    margin-top: 17%;
    text-align: left;
}

.dark-theme-contactUs {
    padding: 5px;
    font-size: 20px;
    margin-left: 4%;
    margin-top: 17%;
    text-align: left;
    color: white;
}


/**************************************/
/* MOBILE							  */
/**************************************/

@media only screen and (max-width: 600px) {

    body {
        overflow-x: hidden;
    / / horizontal
    }

    /* NAV BAR */
    #light-theme-navButton {
        margin-right: 5%;
        border: none;
        color: black;
    }

    #dark-theme-navButton {
        margin-right: 5%;
        border: none;
        color: white;
    }

    /* CALL TO ACTION */
    #light-theme-imageAndTextLeft img {
        height: 190px;
        margin: 2%;
    }

    #light-theme-imageAndTextRight img {
        height: 190px;
        margin: 2%;
    }

    #light-theme-imageAndTextLeft-text {
        font-size: 14px;
        padding: 10%;
        text-align: center;
    }

    #light-theme-imageAndTextRight-text {
        font-size: 14px;
        padding: 10%;
        text-align: center;
    }


    #dark-theme-imageAndTextLeft img {
        height: 190px;
        margin: 2%;
    }

    #dark-theme-imageAndTextRight img {
        height: 190px;
        margin: 2%;
    }

    #dark-theme-imageAndTextLeft-text {
        font-size: 14px;
        padding: 10%;
        text-align: center;
        color: white;
        margin-bottom: 2%;
    }

    #dark-theme-imageAndTextRight-text {
        font-size: 14px;
        padding: 10%;
        text-align: center;
        color: white;
        margin-bottom: 2%;
    }


    /* IMAGES */
    #light-theme-image {
        display: block;
        text-align: center;
        margin: 3%;
    }

    #light-theme-image img {
        min-height: 175px;
        max-height: 175px;
    }

    #light-theme-2images {
        display: block;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 3%;
        margin-left: 6%;
        margin-right: 6%;
    }

    #light-theme-2images img {
        min-height: 175px;
        max-height: 175px;
        margin-top: 10%;
    }

    #light-theme-3images {
        display: block;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 3%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }

    #light-theme-3images img {
        min-height: 175px;
        max-height: 175px;
        margin-top: 10%;
    }

    #light-theme-title {
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: -29px;

    }

    #light-theme-title h1 {


    }

    #dark-theme-image {
        display: block;
        text-align: center;
        margin: 3%;
    }

    #dark-theme-image img {
        min-height: 175px;
        max-height: 175px;
    }

    #dark-theme-2images {
        display: block;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 3%;
        margin-left: 6%;
        margin-right: 6%;
    }

    #dark-theme-2images img {
        min-height: 175px;
        max-height: 175px;
        margin-top: 10%;
    }

    #dark-theme-3images {
        display: block;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 3%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }

    #dark-theme-3images img {
        min-height: 175px;
        max-height: 175px;
        margin-top: 10%;
    }

    #dark-theme-title {
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: -29px;

    }

    #light-theme-title h1 {
        margin-bottom: 20px;
    }

    #dark-theme-title h1 {
        margin-left: 6%;
        margin-bottom: 5px;

    }

    .theme-price-cards {
        text-align: center;
        margin-left: 12%;
        margin-right: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .card {
        margin-bottom: 30px;
    }

    .light-theme-tripleInfo {
        font-size: 25px;
        margin-bottom: 35px;
        margin-top: 5%;
        text-align: center;
    }

    .light-theme-tripleInfo div {

    }

    #light-theme-left-element-tripleInfo {
        border-right: none;
        margin-bottom: 30px;
    }

    #light-theme-right-element-tripleInfo {
        border-left: none;
        margin-top: 30px;
    }

    #dark-theme-left-element-tripleInfo {
        border-right: none;
        margin-bottom: 30px;
    }

    #dark-theme-right-element-tripleInfo {
        border-left: none;
        margin-top: 30px;
    }

    #theme-simple_card {
        margin-left: 0px;
    }

    #theme-simple_card #box {
        background-color: #AAAAAA;
        padding: 5%;
        color: white;
        font-size: 0.95em;
        max-width: none;
    }

    #light-theme-callToAction h1 {
        font-size: 50px;
    }

    #dark-theme-callToAction h1 {
        font-size: 50px;
    }

    .map {
        width: 135%;
        height: 500px;
        margin-left: -30%;
        margin-bottom: 15px;
    }

    .light-theme-contactUs {
        padding: 5px;
        font-size: 20px;
        margin-left: -30%;
        margin-top: -10%;
        text-align: center;
        margin-bottom: 20px;
    }

    .dark-theme-contactUs {
        padding: 5px;
        font-size: 20px;
        margin-left: -30%;
        margin-top: -10%;
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }

    #light-theme-footerComplex {
        height: auto;
        margin-bottom: 0px;
    }

    #dark-theme-footerComplex {
        height: auto;
        margin-bottom: 0px;
        color: white;
        background-color: #secondary;
    }

    .footerIcon {
        display: inline-block;
        border: none;
        border-radius: 15px;
        height: 50px;
        width: 50px;
        color: white;
        margin-right: 25px;
    }

    .footerIcon a {
        text-decoration: none;
        color: white;
    }

    .footerIcon i {
        position: relative;
        top: 16px;
        left: -15px;
        font-size: 20px;
    }

    #socialMediaTitle {
        display: none;
        font-weight: bold;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    #socialMedia {
        text-align: right;
        margin-right: 40px;
    }

    #mobileCol {
        margin-left: 8px;
    }

    #mobileIcon {
        display: none;
    }


    /* END OF MOBILE */
}
